{% extends 'base.html' %}
{% load static %}
	{% block content %}
	<!-- //header -->
	<div class="about-grids">
		<div class="container">
			<div class="col-md-9 about-left">
				<!-- about -->
				<div class="about">
						<div class="about-info">
							<h3>{{about.title}}</h3>
							<h4>{{about.bodyH1}}</h4>
							<p>{{about.body}}</p>
						</div>
				</div>
				<!-- about -->
				<!-- team -->
				<div class="team">
						<div class="team-info">
							<h3>Our Team</h3>
						</div>
						<div class="team-grids">
							{% for team in teams%}
							<div class="team-grid">
								<img src="{{team.img.url}}" alt="" />
								<div class="team-grid-info">
									<h4>{{team.name}}</h4>
									<p>{{team.body}}</p>
								</div>
							</div>
							{% endfor %}
							<div class="clearfix"> </div>
						</div>
				</div>
				<!-- //team -->
		    </div>
		</div>
	</div>
	{% endblock %}