{% extends 'base.html' %}
{% load static %}
		{% block content %}
		<!-- //header -->
		<!-- booking -->
		<div class="booking">
			<!-- container -->
			<div class="container">
				<div class="booking-info">
					<h3>Booking</h3>
				</div>
				
				<div class="clearfix"></div>
				<div class="booking-grids">
					<h3>WE PROVIDE</h3>
					<div class="col-md-5 booking-grid-right">
						<img src="{{provide.img.url}}" alt="">
					</div>
					<div class="col-md-7 booking-grid-left">
						<h4>{{provide.title}}</h4>
						<p>{{provide.body}}</p>
						
						<div class="read-more red">
							<a href="#">Read More >></a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
			<div class="how-to">
				<!-- container -->
				<div class="container">
					<div class="how-to-info">
						<h3>How To Book</h3>
						<h4>{{book.f_body}}</h4>
						<p>{{book.s_body}}</p>
					</div>
					<div class="how-grids">
						{% for step in steps %}
						<div class="col-md-4 how-grid">
							<span>{{step.id}}</span>
							<a href="#">{{step.title}}</a>
							<p>{{step.body}}</p>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
					<div class="booking-form">
					<!---strat-date-piker---->
					<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
					<script src="{% static 'js/jquery-ui.js' %}"></script>
							  <script>
									  $(function() {
										$( "#datepicker,#datepicker1" ).datepicker();
									  });
							  </script>
					<!---/End-date-piker---->
					<link type="text/css" rel="stylesheet" href="{% static 'css/JFGrid.css' %}" />
					<link type="text/css" rel="stylesheet" href="{% static 'css/JFFormStyle-1.css' %}" />
					<script type="text/javascript" src="{% static 'js/JFCore.js' %}"></script>
					<script type="text/javascript" src="{% static 'js/JFForms.js' %}"></script>
					<!-- Set here the key for your domain in order to hide the watermark on the web server -->
					<script type="text/javascript">
						(function() {
							JC.init({
								domainKey: ''
							});
						})();
					</script>
					<div class="online_reservation">
							<div class="b_room">
								<div class="booking_room">
									<div class="reservation">
										<ul>		
											<li  class="span1_of_1 left">
												 <h5>From</h5>
												 <div class="book_date">
													 <form>
														<input type="text" placeholder="Type Depature City" required="">
													 </form>
												 </div>					
											 </li>
											 <li  class="span1_of_1 left">
												 <h5>To</h5>
												 <div class="book_date">
												 <form>
													<input type="text" placeholder="Type Destination City" required="">
												 </form>
												 </div>		
											 </li>
											 <li  class="span1_of_1 left">
												 <h5>Arrival</h5>
												 <div class="book_date">
													 <form>
													 <input class="date" id="datepicker" type="text" value="2/08/2013" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '2/08/2013';}" required=>
													 </form>
												 </div>					
											 </li>
											 <li  class="span1_of_1 left">
												 <h5>Depature</h5>
												 <div class="book_date">
												 <form>
													<input class="date" id="datepicker1" type="text" value="22/08/2013" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '22/08/2013';}" required=>
												 </form>
												 </div>		
											 </li>
											 <li class="span1_of_1">
												 <h5>Class</h5>
												 <!----------start section_room----------->
												 <div class="section_room">
													  <select id="country" onchange="change_country(this.value)" class="frm-field required">
															<option value="null">Economy</option>
															<option value="null">Business</option>         
															<option value="AX">First Class</option>
															<option value="AX">Premium Economy</option>
													  </select>
												 </div>	
											 </li>
											 <li class="span1_of_3">
													<div class="date_btn">
														<form>
															<input type="submit" value="Find Flight" />
														</form>
													</div>
											 </li>
											 <div class="clearfix"></div>
										</ul>
									 </div>
								</div>
								<div class="clearfix"></div>
							</div>
					</div>
					<!---->
				</div>
				</div>
				<!-- //container -->
			</div>
			<div class="visiting">
				<!-- container -->
				<div class="container">
					<div class="visiting-info">
						<h3>VISITING PLACES</h3>
					</div>
					<div class="top-grids">
						{% for place in places%}
						<div class="top-grid">
							<img src="{{place.img.url}}" alt="">
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //container -->
			</div>
		</div>
		<!-- booking -->
		<!-- footer -->
	{% endblock %}