{% extends 'base.html' %}
{% load static %}
		{% block content %}
		
		<!-- //header -->
		<!-- banner-grids -->
		<div class="banner-grids">
			<!-- container -->
			<div class="container">
				<div class="banner-grid-info">
					<h3>Recent Visiting Places</h3>
				</div>
				<div class="top-grids">
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/6.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/3.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/2.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/4.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="top-grids">
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/2.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/4.jpg' %}" alt="" /></a>
						<div class="top-grid-info">	
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/6.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="top-grid">
						<a href="single.html"><img src="{% static 'images/3.jpg' %}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">Vestibulum auctor</a>
							<p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //banner-grids -->
	{% endblock %}