{% extends 'base.html' %}
{% load static %}
		{% block content %}
		
		<!-- //header -->
		<!-- banner-grids -->
		<div class="banner-grids">
			<!-- container -->
			<div class="container">
				<div class="banner-grid-info">
					<h3>Recent Visiting Places</h3>
				</div>
				<div class="top-grids">
					{% for place in places %}
					<div class="top-grid">
						<a href="single.html"><img src="{{place.img.url}}" alt="" /></a>
						<div class="top-grid-info">
							<a href="single.html">{{place.title}}</a>
							<p>{{place.body}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //banner-grids -->
	{% endblock %}